
<%-include('parts/header.ejs') %>

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
               
                <h2>Welcome to Book Store</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
      <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <ul>
                    <li class="active" data-filter="*">All Books</li>
                    <li data-filter=".des">Featured</li>
                    <li data-filter=".dev">Flash Deals</li>
                    <li data-filter=".gra">Last Minute</li>
                </ul>
              </div>
            </div>
            <div class="col-md-12">
              <div class="filters-content">
                  <div class="row grid">
                    <% for(var i=0; i < book.length; i++) { %>

                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <h3> <%= book[i].title %> </h3>
                        <a href="#"><img src="" height ="350px"alt=""></a>
                         <div class="down-content">
                          
                           <p> authorId: <%= book[i].authorId %></p>
                              
                            
                         
                        
                         <p>ISBN: <%= book[i].ISBN %></p> 
                         <div> <span> <a href=/api/books/<%= book[i].id %> class="filled-button">view</a></span></div>
                         <div> <span> <a href="/details" class="filled-button">addfav</a></span></div> 

                      </div> 
                      </div>
                    </div>
                    <% } %>
<!--
                    <div class="col-md-12">
                      <div class="filters-content">
                          <div class="row grid">
                              <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                  <a href="#"><img src="/images/book-5.png"height ="350px" alt=""></a>
                                  <div class="down-content">
                                    <a href="/details"><h4>c++</h4></a>
                                    <p>ISBN:960-425-059-0</p> 
                                  
                                    <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                                    <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                                 </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 all dev">
                                <div class="product-item">
                                  <a href="#"><img src="/images/book-4.png"height ="350px" alt=""></a>
                                  <div class="down-content">
                                    <a href="/details"><h4>c++</h4></a>
                                    <p>ISBN:960-425-059-0</p> 
                                  
                                    <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                                    <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                                 </div>                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 all gra">
                                <div class="product-item">
                                  <a href="#"><img src="/images/book-3.png"height ="350px" alt=""></a>
                                  <div class="down-content">
                                    <a href="/details"><h4>express</h4></a>
                                   
                                   
                                    <p>ISBN:960-425-059-0</p> 
                                    <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                         <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                      </div>
                              </div>
                              <div class="col-lg-4 col-md-4 all gra">
                                <div class="product-item">
                                  <a href="/details"><img src="/images/book-2.png" height ="350px"alt=""></a>
                                  <div class="down-content">
                                    <a href="/details"><h4>php</h4></a>
                                    <p>ISBN:960-425-059-0</p> 
                                   
                                    <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                                    <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 all dev">
                                <div class="product-item">
                                  <a href="#"><img src="/images/book-8.png" height ="350px"alt=""></a>
                                  <div class="down-content">
                                    <a href="/details"><h4>html</h4></a>
                                    <p>ISBN:960-425-059-0</p> 
                                  
                                    <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                                    <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item">
                                  <a href="#"><img src="/images/book-10.png" height ="350px"alt=""></a>
                                   <div class="down-content">
                                    <a href="/details"><h4>Javascript</h4></a>
                                   <p>ISBN:960-425-059-0</p> 
                                   <div> <span> <a href="/details" class="filled-button">view</a></span></div>
                         <div> <span> <a href="/details" class="filled-button">addfav</a></span></div>                  </div> 
                      </div>
                              </div>
                          </div>
  -->                        
                      </div>
                    </div>
                
                  
      <%-include('parts/footer.ejs') %>